.phone_con {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 20px;
}

.phone_con .per-phone {
    align-items: center;
    color: #666;
    display: flex;
    font-size: 14px;
    margin-right: 20px;
}

.phone_con .per-phone .phonetic {
    color: #a0a0a0;
    margin-left: 0.5em;
}

.per-phone span {
    line-height: 1;
}

.phonetic {
    color: #6f7275;
    word-break: keep-all;
}

.per-phone {
    background: #f4f5f7;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 11px;
    padding: 9px 10px;
}

.simple {}

.word-exp {
    display: flex;
    font-family: PingFang SC;
    margin: 0;
    margin-bottom: 20px;
}

.simple .exam_type {
    color: #939599;
    font-size: 14px;
    line-height: 17px;
    margin: 16px 0 32px 50px;
    word-break: break-all;
}

.pos {
    width: 40px;
    color: #939599;
    float: left;
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 16px;
}

.simple .word-exp .trans {
    flex: 1;
    color: #101214;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 0 0 16px;
}

.simple .word-wfs-less {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

ul ul {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.simple .word-wfs-less .word-wfs-cell-less {
    display: flex;
    align-items: center;
    margin-right: 32px;
}

.simple .word-wfs-less .word-wfs-cell-less p {
    margin-right: 8px;
}

li {
    list-style: none;
    display: flex;
}

.grey {
    color: #939599;
}

.simple .word-wfs-less .word-wfs-cell-less .transformation {
    font-size: 16px;
    font-weight: 600;
    color: #cc0033;
}